@invicara:registry=https://npm.twinit.dev/
//npm.twinit.dev/:username=PYXBIWBRTDXNZFRBBMLVCTSQJICZNPZJ
//npm.twinit.dev/:_password=VXRlSWMySXhVdWlMcXpzeEgzRnVpdjZFTlVsaDd6SU1ENXN6ZGMzaGlHanBRZmlOSjJBYWFsM0c5TjdNRE9Mbg==
//npm.twinit.dev/:email=lokesh.daiya@yash.com
//npm.twinit.dev/:always-auth=true